@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
                


$background-color: #FFFFFF;
$background-color2: #F5F5F5;
$white: #FFFFFF;
$font-color: #000000;
$font-color2: #2E3444;
$font-stack: 'Roboto', sans-serif;
$font-size: 16px;
$primary-color: #F6B736;
$secondary-color: #FFFFFF;